.content{
    text-align: center;
}
.title{
    text-align: center;
}
page{
    background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1574018969230&di=de6cf55235790fa15145df74e8e8794b&imgtype=0&src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2F870c042fa270a2abfae6f91221fa71cf87309c73e9db-tPTrXK_fw658);
    -moz-background-size:100% 100%;
    background-size:100% 100%;
}