/**index.wxss**/
page{
  overflow: hidden;
}
View{
  display: inline-block;
}
.container{
  position: relative;
  background-color: #000;
}
.content{
  position: relative;
  width:500px;
  perspective:500px;
}
.content-word{
  position: absolute;
  /*background-color:#000;*/
  width:280px;
  height:516px;
  color:  white;
  transform-origin: center top;
  transform: rotateX(60deg);
  left:50%;
  margin-left:-80px;
  /*border:1px solid #fff;*/
  text-align: center;
  font-size:15px;
  overflow: hidden;
}
.content-move{
  top:100%;
  /*top:0%;*/
  position: absolute;
  -webkit-animation:wordMove 50s both;
  -o-animation:wordMove 50s both;
  animation:wordMove 50s both;
}
@keyframes wordMove {
  0%{
    top:100%;
  }
  100%{
    top:-100%;
  }
}
@-webkit-keyframes wordMove {
  0%{
    top:100%;
  }
  100%{
    top:-100%;
  }
}

.red {
  color: red;
}