$boxWidth: 600px;
.box{
    width: $boxWidth;
    height: 800px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 20px;
}
.contentBox{
    margin: 10px 0;
}
.lineLeft{
    width: 40px;
    height: 3px;
    background-color: #CACACA;
    margin-left: 35px;
    vertical-align: middle;
    display: inline-block;
}
.image{
    width: $boxWidth;
    height: 400px;
}
.lineRight{
    width: 40px;
    height: 3px;
    background-color: #CACACA;
    margin-left: 5px;
    vertical-align: middle;
    display: inline-block;
}
.title{
    height: 50px;
    width: 340px;
    display: inline-block;
    text-align: center;
}
.content{
    color: #999;
    font-size: 24px;
    padding: 15px 60px;
}
