.people{
    display: inline-block;
    margin: 0 10px;
}
Image{
    width: 230px;
    height: 350px;
    border-radius: 5px;
    display: inline-block;
}
.name{
    width: 230px;
    text-align: center;
    height: 100px;
    line-height: 50px;
}