.people{
    display: inline-block;
    margin: 10px 10px;
    position: relative;
}
Image{
    width: 230px;
    height: 350px;
    border-radius: 5px;
    display: inline-block;
}
.name{
    width: 230px;
    text-align: center;
    line-height: 50px;
    font-size: 36px;
    bottom: 20px;
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
}